/* Site Wrapper */

body {
  background-color: #16a085;
  font-family: "Montserrat Alternates";
}

.container {  
  min-height: 1500px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #bdc3c7;
  box-shadow: 10px 0px 15px -7px #1f3347, -10px 0px 15px -7px #1f3347;
}

nav {
  height: 80px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 10px 15px -7px #1f3347;
}

.logo-box {
  margin-top: 7px;
  margin-left: 15px;
  height: 62px;
  float: left;
  background-color: #8e44ad;
  transition: .5s;
}

.logo-box:hover {
  background-color: #e74c3c;
}

.logo {
  width: 200px;
}

nav ul {
  float: right;
  margin-top: 19px;
}

nav li {
  width: 120px;
  height: 40px;
  background-color: #8e44ad;
  margin-right: 25px;
  padding-top: 13px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  transition: .5s;
}

nav li:hover {
  background-color: #e74c3c;
}

nav li a {
  font-family: "Orbitron";
  color: #D3D3D3;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

footer {
  height: 60px;
  background-color: black;
}
 
footer div {
  width: 400px;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  color: white;
  font-family: "Orbitron";
  font-size: 15px;
}

/* Home/Index Page */

.slogan-box {
  width: 100%;
  padding-top: 80px;
}

.slogan {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

.sign-up-form-box-outer {
  margin-top: 40px;
  padding: 20px;
  width: 100%;
  background-color: #ecf0f1;
  box-shadow: 0px 5px 10px -7px #1f3347, 0px -5px 10px -7px #1f3347;
  box-sizing: border-box;
}

.sign-up-form-box-inner {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: gray;
  box-sizing: border-box;
}

.field-box {
  width: 100%;
}

.field-box .label {
  text-size: 25px;
}

.funny-box {
  width: 100%;
  padding-top: 80px;
}

.funny-text {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.edit-profile {
  display: none;
}

/* Form focus transition */

input {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 500ms;
}

input:focus {
  background-color: #EEE8AA;
}
