body {
  background-color: #e74c3c;
}

.container {  
  min-height: 1500px;
  width: 70%;
  margin: 0 auto;
  background-color: #D3D3D3;
  box-shadow: 10px 0px 15px -7px #1f3347, -10px 0px 15px -7px #1f3347;
}

nav {
  height: 80px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 10px 15px -7px #1f3347;
}

.logo-box {
  margin-top: 7px;
  margin-left: 15px;
  height: 62px;
  float: left;
  background-color: #8e44ad;
  transition: .5s;
}

.logo-box:hover {
  background-color: #e74c3c;
}

.logo {
  width: 200px;
}

nav ul {
  float: right;
  margin-top: 19px;
}

nav li {
  width: 120px;
  height: 40px;
  background-color: #8e44ad;
  margin-right: 25px;
  padding-top: 13px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  transition: .5s;
}

nav li:hover {
  background-color: #e74c3c;
}

nav li a {
  font-family: "Orbitron";
  color: #D3D3D3;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

footer {
  height: 60px;
  background-color: black;
}
 
footer p {
  width: 400px;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  color: white;
  font-family: "Orbitron";
  font-size: 15px;
}


