/* Site Wrapper */

body {
  background-color: #16a085;
  font-family: sans-serif;
}

.container {  
  min-height: 1000px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #bdc3c7;
  box-shadow: 10px 0px 15px -7px #1f3347, -10px 0px 15px -7px #1f3347;
}

input {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 500ms;
}

input:focus {
  background-color: #CCB2FF;
}

nav {
  height: 80px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 10px 15px -7px #1f3347;
  z-index: 2;
}

.logo-box {
  margin-top: 7px;
  margin-left: 15px;
  height: 62px;
  float: left;
  background-color: #8e44ad;
  transition: .5s;
}

.logo-box:hover {
  background-color: #e74c3c;
}

.logo {
  width: 200px;
}

nav ul {
  float: right;
  margin-top: 19px;
}

nav li {
  width: 120px;
  height: 40px;
  background-color: #8e44ad;
  margin-right: 25px;
  padding-top: 13px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  transition: .5s;
}

nav li:hover {
  background-color: #e74c3c;
}

nav li a {
  font-family: "Orbitron";
  color: #D3D3D3;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

/* Nav bar sign-in box */
.sign-in-box {
  background-color: black;
  position: absolute;
  top: 19px;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
}

.sign-in-form .input {
  width: 150px;
  height: 40px;
  padding-left: 10px;
  margin-right: 15px;
  box-sizing: border-box;
}

.sign-in-button {
  width: 120px;
  height: 40px;
  background-color: #8e44ad;
  margin-right: 25px;
  padding-top: 5px;
  text-align: center;
  border: none;
  font-family: "Orbitron";
  color: #D3D3D3;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  transition: .5s;
}

.sign-in-button:hover {
  background-color: #e74c3c;
}

footer {
  height: 60px;
  background-color: black;
}
 
footer div {
  width: 400px;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  color: white;
  font-family: "Orbitron";
  font-size: 15px;
}

/* Home/Index Page */

.slogan-box {
  width: 100%;
  padding-top: 60px;
}

.slogan {
  font-family: "Montserrat Alternates";
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

.sign-up-form-box-outer {
  margin-top: 60px;
  padding: 20px;
  width: 100%;
  background-color: black;
  box-shadow: 0px 5px 10px -7px #1f3347, 0px -5px 10px -7px #1f3347;
  box-sizing: border-box;
}

.sign-up-form-box-inner {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #16a085;
  box-sizing: border-box;
}

.field-box {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.field-box .label {
  float: left;
  margin-top: 10px;
  font-size: 20px;
  color: #D3D3D3;
  box-sizing: border-box;
}

.field-box .field {
  float: right;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;

}

.submit-box {
  width: 100%;
}

.submit-box .submit {
  clear: both;
  width: 200px;
  height: 40px;
  background-color: #8e44ad;
  padding-top: 7px;
  margin: 10px 0 0 75px;
  text-align: center;
  border: none;
  font-family: "Orbitron";
  color: #D3D3D3;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  transition: .5s;
}

.submit-box .submit:hover {
  background-color: #e74c3c;
}

.funny-box {
  width: 100%;
  padding-top: 40px;
}

.funny-text {
  font-family: "Montserrat Alternates";
  width: 1000px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.edit-profile {
  display: none;
}

/* Create survey page */

#top-box {
  height: 85px;
  width: 100%;
  background-color: #bdc3c7;
  box-shadow: 0px 10px 15px -7px #1f3347;
  box-sizing: border-box;
}

#top-box.fixed {
  position: fixed;
  top: 80px;
  width: 80%;
  z-index: 1;
}

#all-questions {
  padding-top: 20px;
}

.survey_name {
  float: left;
  margin: 20px 0 0 20px;
  padding-left: 20px;
  height: 40px;
  width: 300px;
}

.add-question {
  float: left;
  margin: -12px 0 0 30px;
  width: 130px;
  height: 40px;
  background-color: gray;
  padding-top: 12px;
  text-align: center;
  color: black;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  transition: .5s;
}

/*#add-question:hover {
  background-color: #e74c3c;
}*/

#survey-submit {
  float: right;
  margin: -12px 20px 0 0;
  width: 120px;
  height: 40px;
  background-color: #8e44ad;
  padding-top: 13px;
  text-align: center;
  font-family: "Orbitron";
  color: #D3D3D3;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  transition: .5s;
}

#survey-submit:hover {
  background-color: #e74c3c;
}

.survey-question {
  background-color: #D3D3D3;
  position: relative;
  margin: 0 auto;
  width: 90%;
  padding: 20px 20px 10px 20px;
}

.question {
  line-height: 1.5em;
  padding: 11px;
  display: inline-block;
  float: left;
}

.choice-box {
  width: 270px;
  margin-left: 20px;
  display: inline-block;
}

.choice-box a {
  height: 34px;
  width: 130px;
  padding-top: 8px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: gray;
  display: inline-block;
  box-sizing: border-box;
}

.add-choice {
  float: left;
}

.delete-choice {
  float: right;
}

.choice {
  line-height: 2em;
  font-size: 90%;
  list-style-type: none;
  width: 250px;
  margin-bottom: 5px;
  padding-left: 15px
}

.survey-buttons {
  width: 110px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.survey-buttons a {
  text-decoration: none;
  color: black;
}

.delete-question {
  height: 34px;
  width: 130px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: gray;
  box-sizing: border-box;
}

/* Stats stuff */

.survey-quickview {
  width: 90%;
  border-radius: 30px;
  margin: 0 auto;
  background-color: #bdc3c7;
  box-shadow: 10px 0px 15px -7px #1f3347, -10px 0px 15px -7px #1f3347;
}

.survey-quickresults {
  padding: 40px;
}

.legend {
  width: 50%;
  float: right;
  margin-top: -420px;
}

.open-surveys {
  text-align: center;
}

.open-surveys h2 {
  font-size: 30px;
}

.open-surveys table {
  text-align: center;
  font-size: 24px;
  margin-left: 23%;
}

.user-profile {
  padding: 5%;
}

.create_survey {
  margin-top: -60px;
}

.legend-list {
  list-style: none;
}


.btn-large {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:3px solid #dcdcdc;
  display:inline-block;
  color:#8c1c8c;
  font-family:arial;
  font-size:29px;
  font-weight:bold;
  padding:8px 13px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}.btn-large:hover {
  background-color:#dfdfdf;
}.btn-large:active {
  position:relative;
  top:1px;
}
