<div class="create_survey">
  <form action="/surveys/new">
    <input type="submit" value="create survey">
  </form>
</div>

<div class="edit-profile">
  <form action="/user/<%= current_user.id %>/edit">
    <input type="submit" value="edit your profile">
  </form>
</div>