<table border="1">
  <tr>
    <th>Survey Name</th>
    <th>Number of Responses</th>
    <th>Link</th>
  </tr>
  <% user.surveys.each do |survey| %>
  <tr>
    <td><%= survey.name %></td>
    <td><%= survey.response_count %></td>
    <td><a class="results" id="<%= survey.id %>" href="#">survey link</a></td>
  </tr>
  <% end %>
</table>