<div class="user-profile">
  <div class="username">
    <h1>Profile: <%= user.username %></h1>
  </div>

  <div class="open-surveys">
    <h2>Your Surveys</h2>
    <%= erb :'users/_user_survey', :locals => {:user => user } %>
  </div>

  <%= erb :'users/_buttons' %>
</div>

  <div class="survey-quickview">
  </div>
</div>
