<div class="user-profile">
  <div class="username">
    <h1><%= user.username %></h1>
  </div>

  <div class="open-surveys">
    <h1>Your Surveys</h1>
    <%= erb :'users/_user_survey', :locals => {:user => user } %>
  </div>
</div>