<div class="sign-up-form-box-outer">
  <div class="sign-up-form-box-inner">
    <form id="sign-up" method="post" action="/users">
      <div class="field-box">
        <label class="label" for="name">Name</label>
        <input class="field" type="text" name="user[username]" placeholder="e.g., joe" >
      </div>
      <div class="field-box">
        <label class="label" for="email">Email</label>
        <input class="field" type="email" name="user[email]" placeholder="e.g., me@example.com" >
      </div>
      <div class="field-box">
        <label class="label" for="password">Password</label>
        <input class="field" type="password" name="user[password_digest]" placeholder="6 or more characters">
      </div>
      <div class="submit-box"><input class="submit" type="submit" value="Become a Junkie!"></div>
    </form>
  </div>
</div>