<div class="survey-quickresults">
  <h1><%= survey.name %></h1>
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
<div class="legend">
  <ul class="legend">
  <% survey.questions.first.choices.each do |choice| %>
  <li><%= choice.name %>   <%= choice.answers.count %></li>
  <% end %>
  </ul>
</div>
