<form action="/surveys" method="post">
	<input id="survey_name"	name="name"			placeholder="survey name...">
	<input class="question" name="question" placeholder="question...">
	<input class="answer"		name="answer"		placeholder="answer...">
	<input class="submit"	type="submit" value="Submit">
</form>