<form action="/surveys" method="post">
	<input id="survey_name"	name="name"			placeholder="survey name..." required><br><br>
  <a href="#" id="add-question">add question</a>

  <div id="all-questions">
    <div class="survey-question-box">
      <div class="survey-question">
      	<input class="question" name="q1[q]"    placeholder="question...">
      	<input class="choice"		name="q1[c1]"		placeholder="choice...">
        <input class="choice"   name="q1[c2]"   placeholder="choice...">
      </div>
      <a href="#" class="add-choice">add choice</a>
      <a href="#" class="delete-choice">delete choice</a>
      <a href="#" class="delete-question">delete question</a>
    </div>
  </div>

	<input class="submit"	type="submit" value="Submit">
</form>


<div id="question-template" style="display: none;">
  <div class="survey-question-box">
    <div class="survey-question">
      <input class="question" name="q1[q]"    placeholder="question...">
      <input class="choice"   name="q1[c1]"   placeholder="choice...">
      <input class="choice"   name="q1[c2]"   placeholder="choice...">
    </div>
    <a href="#" class="add-choice">add choice</a>
    <a href="#" class="delete-choice">delete choice</a>
    <a href="#" class="delete-question">delete question</a>
  </div>
</div>
