<form action="/surveys" method="post">
	<input id="survey_name"	name="name"			placeholder="survey name..."><br><br>

	<input id="q1" class="question" name="q1[q]" placeholder="question..."><br>
	<input id="q1c1" class="choice"		name="q1[c1]"		placeholder="choice..."><br><br>
	
		<input id="q2" class="question" name="q2[q]" placeholder="question..."><br>
		<input id="q2c1" class="choice"		name="q2[c1]"		placeholder="choice..."><br>
		<input id="q2c2" class="choice"		name="q2[c2]"		placeholder="choice..."><br>


	<input class="submit"	type="submit" value="Submit">
</form>