<div class="slogan-box">
  <div class="slogan">Surveys so good, they're addictive.</div>
</div>

<%= erb :'users/sign_up' %>

<div class="funny-box">
  <div class="funny-text">First survey's on us...</div>
</div>
