<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/Chart.js"></script>
  <script src="/js/surveys.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>

  <title></title>
</head>
<body>

  <nav>

    <div class="logo-box">
      <a href="/"><img class="logo" src="/images/logo.png" alt="logo"></a>
    </div>

    <ul>
      <% if authenticated? %>
        <li id="profile-link"><a href="/user/<%= current_user.id %>">Profile</a></li>
        <li id="log-out-link"><a href="/logout">Logout</a></li>
      <% else %>
        <li id="sign-in-link"><a href="#">Sign In</a>
          <div class="sign-in-box" style="display: none;">
            <form class="sign-in-form" method="post" action="/sessions">
              <input class="input" type="email" name="email" placeholder="email">
              <input class="input" type="password" name="password" placeholder="password">
              <input class="sign-in-button" type="submit" value="Sign In">
            </form>
          </div>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="container">
    <%= erb :_errors %>

    <%= yield %>
  </div>

  <footer>
    <div>Put some ish here!</div>
  </footer>
</body>
</html>
