<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>

  <title></title>
</head>
<body>

  <nav>
    <div class="logo-box">
      <a href="/"><img class="logo" src="/images/logo.png" alt="logo"></a>
    </div>

    <ul>
      <% unless current_user %>
        <li><a id="profile" href="/users/id">Profile</a></li>
        <li><a id="log-out" href="/sessions/id">Logout</a></li>
      <% else %>
        <li><a id="sign-in"href="/sessions/new">Sign In</a></li>
      <% end %>
    </ul>

  </nav>
  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p>Put some ish here!</p>
  </footer>
</body>
</html>
